In [13]:
import pandas as pd
import csv
dfs = pd.read_csv(r'D:\DATA SUPERLAKE\2. DATA\3_telco\1_info\2_viettel_2019\export_2019_other_new.csv', chunksize= 400000, usecols = ['MSISDN'],on_bad_lines='skip',quoting=csv.QUOTE_NONE
# engine=None
)
count = 0
for df in dfs:
    count += len(df)
    print(count,end="\r")

# exportDataViettel 44,292,871
# export_2019_map_2018_check_trung 3,428,203
# export_2019_map_2018_trung 9,807,597
# export_2019_other_new 16,203,833

In [ ]:
def get_dtypes(cfg):
    res = {'convert_string': [], 'convert_floating': [], 'convert_integer': [], 'convert_boolean': [], 'convert_datetime': []}
    for x in cfg.keys():
        if cfg[x].upper() == 'DATE':
            res['convert_datetime']+=[x]
        elif cfg[x].upper().startswith('VARCHAR2'):
            # lenght_varchar2 = int(x[x.index("(")+1:x.index(")")])
            res['convert_string']+=[x]
        elif 'FLOAT' in cfg[x].upper():
            res['convert_floating']+=[x]
        elif 'INTEGER' in cfg[x].upper():
            res['convert_integer']+=[x]              
    return res

In [2]:
from datpy.helpers import helper as hp

# telco_info_mobifone
if __name__ == '__main__':
    dataname = 'telco_info'
    level2 = 'mobifone'
    tablename = 'DTTSD_TELCO_INFO'
    importMonth = '202107'
    schema = 'DATKT'
    hp.init()
    hp.load_params(dataname,tablename = tablename, level2 = level2, importMonth = importMonth, schema = schema)

In [7]:
import pandas as pd
import numpy as np
import datpy.database.connection as cn
cn.Database.getdtype(hp.cfg['dataSchema'])

{'PHONE_NUMBER': VARCHAR(length=40),
 'FULLNAME': VARCHAR(length=400),
 'DOB': DATE(),
 'GERDER': VARCHAR(length=2),
 'ADDRESS': VARCHAR(length=800),
 'PROVINCE': VARCHAR(length=50),
 'IDCARD': VARCHAR(length=40),
 'IDCARD_ISSUEDATE': DATE(),
 'IDCARD_ADDRESS': VARCHAR(length=800),
 'EMAIL': VARCHAR(length=100),
 'CARRIER': VARCHAR(length=30),
 'PHONE_BRAND': VARCHAR(length=50),
 'PHONE_TYPE': VARCHAR(length=150),
 'SUB_TYPE': VARCHAR(length=30),
 'PAY_TYPE': VARCHAR(length=10),
 'SUB_STATUS': VARCHAR(length=10),
 'SIM_TYPE': VARCHAR(length=5),
 'BRANCH': VARCHAR(length=255),
 'PACKAGE_TYPE': VARCHAR(length=40),
 'ACTIVE_DATE': DATE(),
 'UPDATE_DATE': DATE(),
 'IMPORT_MONTH': VARCHAR(length=6)}

In [10]:
from sqlalchemy import types

In [11]:
dty = cn.Database.getdtype(hp.cfg['dataSchema'])
dty['PHONE_NUMBER'] = types.FLOAT()

In [23]:
from datpy.filetool.output_file import logs, Mylog
lg = Mylog(logFolder = r"D:\DATA SUPERLAKE\3. CODE\dtt_data_pipeline").get_logger()

In [24]:
@logs(logger=lg)
def div(a,b):
    return a/b

In [26]:
lg.info('a')

In [12]:
pd.DataFrame([['xxx',np.nan],[np.nan,'np.nan']], columns=['PHONE_NUMBER','FULLNAME'])\
    .to_sql('a',hp.cfg['oracle_server'].engine,if_exists = 'replace',index=False, dtype= dty)

StatementError: (builtins.ValueError) could not convert string to float: 'xxx'
[SQL: INSERT INTO a ("PHONE_NUMBER", "FULLNAME") VALUES (:PHONE_NUMBER, :FULLNAME)]
[parameters: [{'PHONE_NUMBER': 'xxx', 'FULLNAME': None}, {'PHONE_NUMBER': None, 'FULLNAME': 'np.nan'}]]