In [1]:
import pandas as pd
import csv
from datpy.vmg.cleaning import text, address, Phone, IDcard, unidecode

In [2]:
path_viettel_bill_tt =  r"D:\DATA SUPERLAKE\2. DATA\3_telco\2_bill\1_viettel\export_tt_t4.csv"
path_viettel_bill_ts =  r"D:\DATA SUPERLAKE\2. DATA\3_telco\2_bill\1_viettel\export_ts_t4.csv"
path_vinaphone_bill = r"D:\DATA SUPERLAKE\2. DATA\3_telco\2_bill\2_vina\arpu_20220630_202206_2.csv"
path_viettel_voice_tt =  r"D:\DATA SUPERLAKE\2. DATA\3_telco\3_voice\Viettel\export_pre_1.csv"
path_viettel_voice_ts =  r"D:\DATA SUPERLAKE\2. DATA\3_telco\3_voice\Viettel\export_pos_1.csv"
path_vinaphone_voice = r"D:\DATA SUPERLAKE\2. DATA\3_telco\3_voice\Vina\202206010100.100.00001.csv"

In [33]:
from dask import delayed, compute
@delayed
def process(path ):
    sep="|"
    dfs = pd.read_csv(path,sep=",", usecols=['SO_DIEN_THOAI'])
    cnt =len(dfs.drop_duplicates())
    return cnt
a = process(path_viettel_bill_tt)
b = process(path_viettel_bill_ts)
print(compute(a+ b))

(46489473,)

In [31]:
def process(path ):
    sep="|"
    dfs = pd.read_csv(path,sep="|", usecols=['A_SUBS'])
    cnt =len(dfs)
    return cnt
a = process(path_vinaphone_voice)
print(compute(a))

(48306083,)

In [12]:
import numpy as np

In [40]:
df = pd.read_csv(path_viettel_bill_tt,nrows= 100,sep=",")
df[df.NAM_SINH.isna()==False].head()

,SO_DIEN_THOAI,QUAN_HUYEN,TINH_THANH_PHO,SO_GIAY_GOI,SO_TIN_NHAN,TIEN_CUOC_GOI,TIEN_CUOC_TIN_NHAN,TIEN_VAS,DONG_MAY,NAM_SINH,GIOI_TINH,NGAY_KICH_HOAT,TONG_CUOC_GOC
7,84982794003,Yên Lập,Phú Thọ,872,9,19652,2395,16890,F5 32GB CPH1723,1990.0,F,20220329,38937
10,84868841252,Tân Biên,Tây Ninh,6404,42,145151,8296,72153,NaN,1974.0,M,20170222,225600
13,84358589401,Nhơn Trạch,Đồng Nai,51,54,1040,11594,98128,A1601 F1S SELFIE EXPERT,1972.0,F,20211121,110762
23,84971881847,Tân Châu,Tây Ninh,1949,3,44086,982,7127,SM-J700H GALAXY J7 DUOS,1987.0,F,20220412,52195
24,84987940994,Thăng Bình,Quảng Nam,4414,41,100032,7837,56854,ES405B,1981.0,F,20211127,164723

In [3]:
import numpy as np
import re
def birthyear_standardize(birthyear):
    res = np.nan
    try:
        str_birthyear = text.remove_punctuation(text(str(birthyear)).clean())
        if re.match("^[0-9]{4,4}$",str_birthyear):
            if (int(str_birthyear) > 1930) and (int(str_birthyear) < 2030):
                return str_birthyear
        return res
    except:
        return res

In [4]:
text.remove_punctuation(text(str('.  1970.0')).clean())

'1970'

In [8]:
birthyear_standardize('.  2029.00')

'2029'

In [59]:
pd.DataFrame(pd.read_csv(path_viettel_bill_ts,nrows= 5,sep=",").columns.map(str.lower))

                      0
0         so_dien_thoai
1            quan_huyen
2        tinh_thanh_pho
3           so_giay_goi
4           so_tin_nhan
5         tien_cuoc_goi
6    tien_cuoc_tin_nhan
7        tong_tieu_dung
8   tien_cam_ket_va_vas
9              dong_may
10            ngay_sinh
11            gioi_tinh
12       ngay_kich_hoat

In [58]:
pd.DataFrame(pd.read_csv(path_viettel_bill_tt,nrows= 5,sep=",").columns.map(str.lower))

                     0
0        so_dien_thoai
1           quan_huyen
2       tinh_thanh_pho
3          so_giay_goi
4          so_tin_nhan
5        tien_cuoc_goi
6   tien_cuoc_tin_nhan
7             tien_vas
8             dong_may
9             nam_sinh
10           gioi_tinh
11      ngay_kich_hoat
12       tong_cuoc_goc

In [33]:
def importMonthInfo(filedir, typedata):
    if typedata == 'telco_info_viettel':
        split_path = filedir.split('/')
        assert split_path[-2].lower() == 'viettel'
        filename = split_path[-1]
        if 'tt' in filename:
            paytype = 'pre_paid'
        elif 'ts' in filename:
            paytype = 'post_paid'
        else:
            paytype = np.nan
        month = re.findall("t[0-9]{1,2}", filename.lower())[0][1:]
        year = split_path[-3]
        importmonth = "{:04.0f}{:02.0f}".format(int(year),int(month))
        return (importmonth, paytype)

In [28]:
re.findall("t[0-9]{1,2}","array1/datatech/1. TELCO/Bill Telco/2022/Viettel/export_ts_t1.zip".split('/')[-1].lower())#[1:]

['t1']

In [34]:
importMonthInfo("array1/datatech/1. TELCO/Bill Telco/2022/Viettel/export_ts_t1.zip", 'telco_info_viettel')

('202201', 'post_paid')

In [55]:
import os
fol = r"E:\5.FINANCIAL REPORTS"
def checkfile(fol):
    for i in os.listdir(fol):
        link = os.path.join(fol,i)
        if os.path.isfile(link):
            if "0101245486" in i:
                print(link)
        elif os.path.isdir(link):
            checkfile(link)

In [56]:
checkfile(fol)

E:\5.FINANCIAL REPORTS\Part 1\xf\0101245486_20220629230442.xml

In [71]:
for  m in range(1,13):
    print("Q{}".format((m-1) // 3 +1))

Q1
Q1
Q1
Q2
Q2
Q2
Q3
Q3
Q3
Q4
Q4
Q4